<ul class="chat__messages">
    {{#each messages as |message|}}
      <li class="message__container">
        <div class="avatar-{{message.alias}}"></div>
        <h4><div class="message_container-name">{{message.name}}</div></h4>
        <p>{{message.content}}</p>
      </li>
    {{/each}}
  </ul>